<div class="profile" >
	<div class="container">
		<Form >
		  <input class="first" value="<%= @user.first_name%>" readonly><br>
          <input class="last" value="<%= @user.last_name%>" readonly><br>
          <input class="emal" value="<%= @user.email%>" readonly><br>
	</form >
			<%= link_to "Edit",'edit',class:"btn-edit1" %>

</div>
</div >